body {
  background-color: black;
  margin-left: 0;
  margin-right: 0;
  font: 14px/25px 'Expletus Sans', sans-serif;
}

/*------ HEADER-MENU --------*/
.header-menu {
  position: relative;
  background-color: white;
  width: 100%;
  height: 120px;
  padding-top: 5px;
}

span {
  position: absolute;
  font-size: 8px;
  left: 42px;
  top: 79px;
  letter-spacing: 1.4px;
}

.logo {
  margin-top: 20px;
  margin-left: 30px;
}

/*------ MENU LINKS --------*/
.navigation {
  position: relative;
  left: 220px;
  bottom: 56px;
  font-size: 20px;
}

hr {
  width: 600px;
  margin: 8px 0 8px 0;
  color: orange;
  border-style: solid;
  border-top: 1px;
}

a {
  padding-right: 15px;
  color: black;
  text-decoration: none;
}

a:hover {
  transition: .2s;
  color: orange;
}

/*------ ENVIOS GRÁTIS E PESQUISA --------*/
.envios-pesquisa {
  background-color: orange;
  height: 50px;
  width: 100%;
  top: 100px;
}

.pesquisa {
  background-color: #FFD384;
  position: absolute;
  height: 50px;
  width: 250px;
  right: 60px;
  top: 133px;
}

.search-icon-box {
  position: absolute;
  height: 50px;
  width: 60px;
  background-color: white;
  right: 0;
  top: 133px;
}

.search-icon {
  position: absolute;
  top: 25%;
  left: 30%;
  height: 25px;
  width: 25px;
}

/*------ HOVER IMAGE --------*/
.search-icon-alt {
  opacity: 0;
  position: absolute;
  top: 25%;
  left: 30%;
  height: 25px;
  width: 25px;
}

.search-icon-box:hover .search-icon-alt {
  opacity: 1;
  transition: .5s;
}

.search-icon-box:hover {
  background-color: black;
  transition: .5s;
}

/*------ PARAGRAPHS --------*/
.a {
  position: relative;
  margin: 0;
  left: 20px;
  top: 12px;
  font-size: 13px;
  color: white;
}

.b {
  position: absolute;
  margin: 0;
  left: 20px;
  top: 14px;
  font-size: 14px;
  color: black;
}
